<div class="container mt-5">
    <div class="mb-3 d-flex  justify-content-center  ">
        <form class="w-75 " action="/courses/store" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label text-capitalize ">name</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control border-2"
                />
            </div>

            <div class="mb-3">
                <label for="image" class="form-label text-capitalize ">image</label>
                <input
                    type="text"
                    name="image"
                    id="image"
                    class="form-control border-2"
                />
            </div>

            <div class="mb-3">
                <label for="learned" class="form-label text-capitalize ">learned</label>
                <input
                    type="text"
                    name="learned"
                    id="learned"
                    class="form-control border-2"
                />
            </div>

            <div class="mb-3">
                <label for="slug" class="form-label text-capitalize ">slug</label>
                <input
                    type="text"
                    name="slug"
                    id="slug"
                    class="form-control border-2"
                />
            </div>

            <button
                type="submit"
                class="btn btn-primary text-uppercase "
            >
                create
            </button>
            
            
        </form>
    </div>
    
</div>