<div class="container mt-5">

    <div class="row">
        <div class="col-2">
            <a
                href="/courses/create"
                class="btn btn-primary text-uppercase mb-3 d-block "
            >create</a>
        </div>
    </div>

    <div class="row">
        {{#each courses}}
            <div class="col-sm-4">
                <a href="/courses/{{this.slug}}" class="text-decoration-none text-black">
                    <img
                        src={{this.image}}
                        class="w-100 rounded-4"
                        alt="image"
                    />
                    <h5 class="mt-3">{{this.name}}</h5>
                </a>
                <p class="fs-6">{{this.learned}}</p>
            </div>
        {{/each}}
    </div>
</div>